<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>doctors list</title>
  </head>
  <body>
    <h1>doctors list</h1>

    {% for doctors in list %}
    <p>{{doctors.Name}} - {{doctors.Last_name}}</p>
    {% endfor %}
  </body>
</html>
