<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Specialties list</title>
  </head>
  <body>
    <h1>Specialties list</h1>

    {% for specialities in list %}
    <p>{{specialities.Name}}</p>
    {% endfor %}
  </body>
</html>
