<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Remove patient</title>
  </head>
  <body>
    <h1>Remove patient</h1>
    <form method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ object.Name }}"?</p>
      {{form}}
      <input type="submit" value="Confirm" />
    </form>
  </body>
</html>
