<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patients list</title>
  </head>
  <body>
    <h1>Patients list</h1>

    {% for doctors in list %}
    <p>{{patients.Name}} - {{patients.Last_name}}</p>
    {% endfor %}
  </body>
</html>
