<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update patient</title>
  </head>
  <body>
    <h1>Update patient</h1>
    <form method="post">
      {% csrf_token %} {{form.as_p}}
      <input type="submit" value="Update" />
    </form>
  </body>
</html>
