<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointments list</title>
  </head>
  <body>
    <h1>Appointments list</h1>

    {% for appointments in list %}
    <p>{{appointments.id}}</p>
    {% endfor %}
  </body>
</html>
